.card{
    box-shadow: 5px -6px 49px -2px rgba(0,0,0,0.61);
-webkit-box-shadow: 5px -6px 49px -2px rgba(0,0,0,0.61);
-moz-box-shadow: 5px -6px 49px -2px rgba(0,0,0,0.61);
}

.login-form .form-group{
    position: relative;
}
.login-form .form-group .form-control{
    border: 1px solid black;
}
.login-form .form-group input{
    font-size: 16px;
    margin-bottom: 30px;
    border: 1px solid #000;
    box-shadow: none;
}
.login-form .form-group label{
    position: absolute;
    font-size: 16px;
    padding: 0 3px;
    top: 5px;
    left: 13px;
    pointer-events: none;
    transition: .5s;
    background-color: #fff;   
}
.login-form .form-group .form-select{
    border: 1px solid #000;
    box-shadow: none;
}
.login-form .form-group input:focus ~ label,
.login-form .form-group input:valid ~ label{
    top: -10px;
    font-size: 12px;
}